<!DOCTYPE html>
<html>
<head>
  <title>Afficher mes accidents</title>
</head>
<body>
  <div>
    <%= html_form :action => "/search" do
      html_div do
        html_label "Ville", :for => "county"
        html_select(@cities, name: "county")
      end

      html_submit("ok")
    end %>
  </div>

  <%
        fields = [:case_number, 
    :barrack, :acc_date,  :acc_time, 
    :acc_time_code,
    :day_of_week,
    :road,  :intersect_road, 
    :dist_from_intersect, 
    :dist_direction,  
    :city_name, 
    :county_code, 
    :county_name, :vehicle_count, 
    :prop_dest, 
    :injury, :collision_with_1, :collision_with_2]
      %>

  <%= html_table @accidents[0..1000], fields %>

</body>
</html>